* {
    width: 960px;
    margin: 0 auto;
}

nav {
    width: 100%;
    background-color: white;
}

h5 {
    color: #4aaaa5;
    font-size: 25px;
}

p {
    width: 920px;
}
body{
    background-image: url(../Basic-Portfolio/assets/images/country-quilt.png);
}

.navbar-brand {
    color: #4aaaa5;
}

.media {
    margin-top: 150px;
    background: white;
    width: 960px;
}

.mr-3 {
    float: left;
    height: 80px;
    width: 80px;
}

.btn-primary {
    color: #4aaaa5;
    background-color: gray;
    border-color: gray;
}
.navbar-light .navbar-brand {
    color: #4aaaa5;
}

footer {
    background-color: #666666;
    padding-top: 50px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}